@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dark-purple {
    background-color: #210B2C;
}

.bg-mrcn-purple{
    background-color: #391e46
}

.bg-eminence {
    background-color: #55286F;
}

.bg-wisteria {
    background-color: #BC96E6;
}

.bg-pink-lavender {
    background-color: #D8B4E2;
}

.bg-sky-magenta {
    background-color: #AE759F;
}

.border-dark-purple {
    border-color: #210B2C;
}

.border-eminence {
    border-color: #55286F;
}

.border-wisteria {
    border-color: #BC96E6;
}

.border-pink-lavender {
    border-color: #D8B4E2;
}

.border-sky-magenta {
    border-color: #AE759F;
}

.text-dark-purple {
    color: #210B2C;
}

.text-eminence {
    color: #55286F;
}

.text-wisteria {
    color: #BC96E6;
}

.text-pink-lavender {
    color: #D8B4E2;
}

.text-sky-magenta {
    color: #AE759F;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

.scrollbar-hide {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}

.hover\:bg-dark-purple:hover {
    background-color: #210B2C;
}

.hover\:bg-mrcn-purple:hover {
    background-color: #391e46
}

.hover\:bg-eminence:hover {
    background-color: #55286F;
}

.hover\:bg-wisteria:hover {
    background-color: #BC96E6;
}

.hover\:bg-pink-lavender:hover {
    background-color: #D8B4E2;
}

.hover\:bg-sky-magenta:hover {
    background-color: #AE759F;
}

.hover\:border-dark-purple:hover {
    border-color: #210B2C;
}

.hover\:border-eminence:hover {
    border-color: #55286F;
}

.hover\:border-wisteria:hover {
    border-color: #BC96E6;
}

.hover\:border-pink-lavender:hover {
    border-color: #D8B4E2;
}

.hover\:border-sky-magenta:hover {
    border-color: #AE759F;
}

.hover\:text-dark-purple:hover {
    color: #210B2C;
}

.hover\:text-eminence:hover {
    color: #55286F;
}

.hover\:text-wisteria:hover {
    color: #BC96E6;
}

.hover\:text-pink-lavender:hover {
    color: #D8B4E2;
}

.hover\:text-sky-magenta:hover {
    color: #AE759F;
}

.hover\:scrollbar-hide::-webkit-scrollbar:hover {
    display: none;
}

.hover\:scrollbar-hide:hover {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
}